*.iml
.gradle
.gradle/
/.gradle
/.gradle/
.gradle/buildOutputCleanup/buildOutputCleanup.lock
/local.properties
/.idea
/.idea/
.idea
.idea/
.idea/workspace.xml
/.idea/workspace.xml
/.idea/libraries
/.idea/libraries/
/.idea/libraries
/.idea/libraries/
.idea/libraries
.idea/libraries/
.DS_Store
/build
/build/
/captures
/captures/
